/*Coupon Search Custom CSS*/

html, 
body{
    height:100%;
}

header {
    font-family: 'PT Serif', serif;
    background-color: rgb(235, 199, 102);
    border: solid black 1px;
    margin-top: -23px;
}
#loginhead{
    font-family: 'PT Serif', serif;
    background-color: rgb(235, 199, 102);
    border: solid black 1px;
    margin-top: 2px; 
}
h1, h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 0px;
}

p,
h2 {
    font-size: 24px;
    text-align: center;
}

a{
    color: black;
}

footer {
    text-align: center;
    width: 100%;
    background-color: rgb(168, 203, 233);
    border: solid black 1px;
    float: bottom; 
    margin-top: 350px;
}

.card {
    color: black;
    background-color:  lightgrey;
}

.container {
   border: 2px solid rgb(235, 199, 102);
   background-color: rgb(235, 199, 102);
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 200px;
   margin-right: 200px;
   padding-right: 10px;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
}
.logincontainer {
    border: 2px solid rgb(235, 199, 102);
    background-color: rgb(235, 199, 102);
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 450px;
    margin-right: 250px;
    padding-right: 10px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 
button {
    background-color: lightgrey;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid lightgrey;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    width: 100px;
  }

  #loginBtn{
      border-radius: 10px;
  }
button:hover {
    opacity: 0.8;
  }

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: lightgrey;
    border-radius: 10px;
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index:-1;
  }

  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }